<div class="get-in-touch">
    <h1 class="title">Task</h1>
    <form class="contact-form">
        <div class="row">
            <div class="form-field col-lg-12">
                <input id="title" class="input-text js-input" type="text" required>
                <label class="label" for="title">Title</label>
            </div>
            <div class="form-field col-lg-12">
                <input id="description" class="input-text js-input" type="text" required>
                <label class="label" for="description">Description</label>
            </div>
        </div>

        <div class="form-field col-lg-12">
            <input class="submit-btn" type="submit" value="Submit">
        </div>
   </form>
</div>