<div class="get-in-touch">
    <h1 class="title">User Story</h1>
    <form class="contact-form">
        <div class="row">
            <div class="form-field col-lg-6">
                <input id="title" class="input-text js-input" type="text" required>
                <label class="label" for="title">Title</label>
            </div>
            <div class="form-field col-lg-3 ">
                <input id="priority" class="input-text js-input" type="email" required>
                <label class="label" for="priority">Priority</label>
            </div>
            <div class="form-field col-lg-3 ">
                <input id="estimate" class="input-text js-input" type="text" required>
                <label class="label" for="estimate">Estimade</label>
            </div>
        </div>
        <hr>
        <div>
            <div class="form-field col-lg-6 ">
                <input id="userType" class="input-text js-input" type="text" required>
                <label class="label" for="phone">As a </label>
            </div>
            <div class="form-field col-lg-12 ">
                <input id="userTask" class="input-text js-input" type="text" required>
                <label class="label" for="phone">I want to</label>
            </div>
            <div class="form-field col-lg-12 ">
                <input id="userGoal" class="input-text js-input" type="text" required>
                <label class="label" for="phone">So that I can</label>
            </div>
        </div>
        <hr>
        <div>
            <div class="form-field col-lg-12 ">
                <input id="context" class="input-text js-input" type="text" required>
                <label class="label" for="phone">Given </label>
            </div>
            <div class="form-field col-lg-12 ">
                <input id="action" class="input-text js-input" type="text" required>
                <label class="label" for="phone">When</label>
            </div>
            <div class="form-field col-lg-12 ">
                <input id="outcome" class="input-text js-input" type="text" required>
                <label class="label" for="phone">Then</label>
            </div>
        </div>


        <div class="form-field col-lg-12">
            <input class="submit-btn" type="submit" value="Submit">
        </div>
   </form>
</div>